html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

h2 {
  padding: 0.75rem 1.5rem;
  border-bottom: 1px #EEF2F9 solid;
  font-size: 14px;
}

.list {
  list-style-type: none;
}

.list > li {
  display: flex;
  flex-direction: column;
  font-size: 14px;
}

.list > li.focussed .card-label {
  background-color: #C5FDC8;
}

.card-top {
  display: flex;
  gap: 1rem;
  padding: 1.5rem 1.5rem 1rem;
  cursor: default;
}

.card-label {
  background-color: #FFFFA9;
  min-width: 7px;
  width: 7px;
  border-radius: 3.5px;
}

.card-bottom {
  display: flex;
  background-color: white;
  flex-direction: column-reverse;
  color: #646464;
}

.card-bottom:hover {
  background-color: #FAFAFA;
  box-shadow: inset 1px -1px 1px rgba(0, 0, 0, 0.05), inset -1px -1px 1px rgba(0, 0, 0, 0.05), inset 1px 1px 1px rgba(0, 0, 0, 0.05), inset -1px 1px 1px rgba(0, 0, 0, 0.05);
}

.card-bottom ul {
  display: block;
  height: 0;
  overflow: hidden;
  list-style-type: none;
}

.card-bottom > button {
  display: block;
  background-color: transparent;
  border: none;
  border-bottom: 1px #EEF2F9 solid;
  padding-bottom: 0.5rem;
}

.card-bottom > button:focus {
  background: #FAFAFA;
  border-bottom: none;
  box-shadow: inset 1px -1px 1px rgba(0, 0, 0, 0.05), inset -1px -1px 1px rgba(0, 0, 0, 0.05);
}

.card-bottom > button:focus ~ ul {
  height: initial;
  background-color: #FAFAFA;
  box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.05), inset -1px 1px 1px rgba(0, 0, 0, 0.05);
}

.card-bottom ul:hover {
  height: initial;
  background-color: #EEF2F9;
  box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.25);
}

.card-bottom li {
  border-bottom: 1px #EFEFEF solid;
  padding: 0.75rem 1.5rem;
  font-size: 12px;
}

.card-bottom li:last-child {
  border-bottom: none;
}

.card-bottom li.card-menu {
  display: flex;
  justify-content: space-between;
  padding-bottom: 0.5rem;
  padding-top: 1.5rem;
  gap: 1rem;
}

.card-menu button {
  padding: 0.5rem;
  width: 100%;
  border: none;
  background-color: #EFEFEF;
  border-radius: 7px;
  font-size: 12px;
  color: #646464;
}

#new-ref {
  position: fixed;
  bottom: 0.75rem;
  left: 0.75rem;
  height: 40px;
  border-radius: 7px;
  border: none;
  font-size: 16px;
  padding: 0 1rem;
  color: #646464;
  background-color: #EFEFEF;
}